body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #000; /* Define a cor do texto como preto */
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #000; /* Define a cor do texto como preto */
}

button {
  padding: 10px;
  border: none;
  background-color: #87cefa;
  color: #000; /* Define a cor do texto como preto */
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00bfff;
}

p {
  font-size: 18px;
  color: #000; /* Define a cor do texto como preto */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #000; /* Define a cor do texto como preto */
}

li {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  color: #000; /* Define a cor do texto como preto */
}

li:hover {
  background-color: #f0f0f0;
}

label {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #87cefa;
  margin-right: 10px;
  color: #000; /* Define a cor do texto como preto */
}

li.selected label {
  background-color: #32cd32;
}

.xp-bar {
  width: 50px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 0 10px;
  color: #000; /* Define a cor do texto como preto */
}

.xp-bar-fill {
  height: 100%;
  background-color: #87cefa;
  border-radius: 5px;
}

span {
  margin-right: 5px;
  color: #000; /* Define a cor do texto como preto */
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
  color: #000; /* Define a cor do texto como preto */
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #e6e6e6;
  color: #000; /* Define a cor do texto como preto */
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  color: #000; /* Define a cor do texto como preto */
}

.money {
  margin-left: auto;
  color: #000; /* Define a cor do texto como preto */
}
